/* --------------- RESET --------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0e17;
}

/* --------------- CLASES GENERALES --------------- */


#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f0e17;


}

.contenedorInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80%;
    width: 80%;
    gap: 2rem;
    background-image: url(../img/fondo2.png);
    border: 8px ridge rgba(255, 193, 6, 0.89);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    box-shadow: inset -9px -10px 20px 20px #0f0e17;
}

@keyframes recorrerFondo {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }
}

.contenedorInicio h2 {
    font-family: 'Amarante', cursive;
    font-size: 8rem;
    line-height: 5rem;
    color: #ffc106;
    text-shadow: 1px -2px 10px #0f0e17;
}

.contenedorInicio h3 {
    color: #ffffffe3;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.8rem;
    text-shadow: 10px -2px 5px #0f0e17;
    font-weight: 900;
}

.contenedorInicio hr {
    width: 70%;
    line-height: 2rem;
    box-shadow: 1px -2px 5px #0f0e17;
}

.btnJugar,
.btnInst {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-family: 'Belanosima', sans-serif;
    background-color: #fffffeaf;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 20px;
    color: #393840;
    width: 10rem;
}

.btnJugar {
    font-weight: bold;
}

.btnJugar:hover {
    background-color: #fffffe;
}

.btnInst:hover {
    background-color: #fffffe;
}

.contenedorSeleccion {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 3.5rem;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fffffe;
    font-family: 'Belanosima', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    gap: 2.5rem;
}

.titulo input {
    width: 200px;
    border-radius: 1rem;
    height: 1.5rem;
    outline: none;
    text-align: center;
    font-size: 1rem;
}

.inicioBatalla {
    color: #fffffe;
    font-family: 'Belanosima', sans-serif;
    font-size: 4rem;
    animation: fade 3s 1 forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.contenedorBatalla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    gap: 0px 0px;
    padding: 2rem 4rem 3rem 4rem;
    background-image: url(../img/fondo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 15px 15px;
    border: 8px ridge rgba(255, 193, 6, 0.89);
    box-shadow: inset -9px -10px 20px 20px #0f0e17;
    column-gap: 2rem;
    grid-auto-flow: column;
    grid-template-areas:
        "tituloUno . tituloDos"
        "tarjetaUno resultado tarjetaDos"
        "btnUno . btnDos";
}

.resultado {
    grid-area: resultado;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dado {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.dado:hover {
    filter: drop-shadow(0px 0px 30px #fe004c);
    transform: translateY(-20px);
}

.tarjetaUno {
    justify-self: center;
    grid-area: tarjetaUno;
}

.fx {
    filter: drop-shadow(3px 3px 15px #fffffeb0);
}

.tituloUno {
    justify-self: center;
    margin-bottom: 1.5rem;
    grid-area: tituloUno;
    color: #fffffe;
    font-family: 'Belanosima', sans-serif;
}

.btnUno {
    display: flex;
    gap: 2rem;
    justify-self: center;
    align-self: center;
    grid-area: btnUno;
}

.tarjetaDos {
    justify-self: center;
    grid-area: tarjetaDos;
}

.tituloDos {
    justify-self: center;
    margin-bottom: 1.5rem;
    grid-area: tituloDos;
    color: #fffffe;
    font-family: 'Belanosima', sans-serif;
}

.btnDos {
    display: flex;
    gap: 2rem;
    justify-self: center;
    align-self: center;
    grid-area: btnDos;
}

.resultado {
    justify-self: center;
    grid-area: resultado;
}

.resultadoDado {
    justify-self: center;
    align-self: center;
    color: #d43060;
    font-family: 'Belanosima', sans-serif;
    font-weight: 400;
    font-size: 10rem;
}

.resultadoInfo {
    justify-self: center;
    align-self: center;
    color: #fffffe;
    font-family: 'Belanosima', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.btnAb {
    margin-top: 1.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    font-family: 'Belanosima', sans-serif;
    background-color: #fffffe9d;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 20px;
    color: #393840;
}

.btnAb:hover {
    background-color: #fffffe;
}

.sweetText {
    font-family: 'Belanosima', sans-serif;
    font-size: 2rem;
    color: #0f0e17;
}

.sweetTextIns {
    font-family: 'Belanosima', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    color: #0f0e17;
}

.contenedorInst {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.imgInst {
    width: 50px;
    height: 50px;
}

.infoInst {
    font-family: 'Belanosima', sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
    color: #0f0e17;
}


/* --------------- CLASES PARA LAS TARJETAS --------------- */

.contenedorJugadores {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    gap: 2rem;
}

.contenedorTarjetas {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    min-height: 50%;
    flex-wrap: wrap;
}



.contenedorTarjeta {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 20px;
    width: 200px;
    height: auto;
    box-sizing: content-box;
    font-family: 'Belanosima', sans-serif;
}

.hoverTarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 200px;
    height: auto;
    box-sizing: content-box;
    font-family: 'Belanosima', sans-serif;
    cursor: pointer;
}

.hoverTarjeta:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #fffffe;
}

.imgTarjeta img {
    width: 200px;
    height: auto;
    vertical-align: middle;
}

.iconoTarjeta {
    padding: 20px 0px;
}

.iconoTarjeta img {
    width: 20px;
    height: 20px;
}

.vidaTarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.vidaTarjeta p {
    position: relative;
    transition: top 0.5s ease, opacity 0.5s ease;
}

.vidaTarjeta p.animate {
    top: -10px;
    opacity: 0;
}

.danioTarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.descripcionTarjeta {
    width: 200px;
    height: 20px;
    background-color: #333333;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: content-box;
    text-align: center;
    padding: 15px 0;
}

.descripcionTarjeta p {
    color: #fff;
    font-size: 0.7rem;
    margin: 0 10px;
}

.tituloTarjeta {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #060606;
    width: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px 0;
}

.tituloTarjeta h3 {
    color: #a7a7a7;
    font-size: 1rem;

}

.iconoTarjeta {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 30px;
    background-color: #060606;
}

.vidaTarjeta p {
    color: #B44D57;
}

.danioTarjeta p {
    color: #F4FF8A;
}

.bordeAse {
    border: 5px solid #FA3A24
}

.tituloAse {
    color: #FA3A24;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.bordeMag {
    border: 5px solid #00B0EC;
}

.tituloMag {
    color: #00B0EC;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.bordeGue {
    border: 5px solid #79874A;
}

.tituloGue {
    color: #79874A;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.bordePal {
    border: 5px solid #AC904A;
}

.tituloPal {
    color: #AC904A;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.bordeDrui {
    border: 5px solid #2ca25f;
}

.tituloDrui {
    color: #2ca25f;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.ocultar {
    display: none;
}

.ocultarTurno {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mostrarTurno {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}


@media screen and (max-width: 768px) {


    .contenedorInicio h2 {
        font-size: 6rem;
        line-height: 8rem;
    }

    .contenedorInicio h3 {
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
    }

    .titulo input {
        width: 150px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {

    .contenedorInicio {
        animation: recorrerFondo 40s linear infinite alternate-reverse;
    }

    .contenedorInicio h2 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .contenedorInicio h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
    }

    .contenedorInicio hr {
        line-height: 1rem;
        width: 80%;
    }

    .contenedorSeleccion {
        justify-content: start;
    }

    .contenedorTarjetas {
        padding-bottom: 3rem;
    }

    .btnJugar,
    .btnInst {
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
        width: 8rem;
    }

    .titulo input {
        width: 200px;
        font-size: 0.7rem;
    }

    .titulo {
        margin: 1rem 3rem;
        line-height: 3rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .inicioBatalla {
        margin-top: 15rem;
        text-align: center;
        font-size: 3rem;
    }

    .contenedorBatalla {
        grid-template-columns: 0.5fr 0.8fr 0.5fr;
        gap: 1rem;
        padding: 0.5rem;
    }

    .tituloUno {
        align-self: center;
        font-size: 0.6rem;
        margin-bottom: 1rem;
    }

    .tituloDos {
        align-self: center;
        font-size: 0.6rem;
        margin-bottom: 1rem;
    }

    .btnAb {
        margin-top: 1rem;
        font-size: 0.5rem;
    }

    .contenedorBatalla .contenedorTarjeta {
        width: 120px;
        height: 230px;
    }

    .contenedorBatalla .contenedorTarjeta img {
        width: 120px;
        height: 119px;
    }

    .contenedorBatalla .tituloTarjeta {
        width: 120px;
        height: 36px;
    }

    .contenedorBatalla .tituloTarjeta h2 {
        font-size: 1rem;
        line-height: 1rem;
    }

    .contenedorBatalla .tituloTarjeta h3 {
        font-size: 0.7rem;
    }

    .contenedorBatalla .iconoTarjeta {
        width: 120px;
    }

    .contenedorBatalla .iconoTarjeta img {
        width: 15px;
    }

    .contenedorBatalla .descripcionTarjeta {
        width: 120px;
        height: 5px;
    }

    .contenedorBatalla .descripcionTarjeta p {
        font-size: 0.5rem;
        margin: -10px 10px;
    }

    .contenedorBatalla .iconoTarjeta img {
        width: 15px;
        height: 15px;
    }

    .dado {
        width: 50px;
        height: 55px;
    }

    .resultadoDado {
        font-size: 5rem;
    }

    .resultadoInfo {
        text-align: center;
        font-size: 0.5rem;
    }
}