/* --------------- RESET --------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------- CLASES GENERALES --------------- */

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #293462;
    
}



#contenedorPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 2rem;
    flex-wrap: wrap;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D61C4E;
    font-family: 'Belanosima', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    gap: 2rem;
}

.titulo input {
    width: 200px;
}

.inicioBatalla {
    color: #333333;
    font-family: 'Belanosima', sans-serif;
    font-size: 4rem;
    animation: fade 3s 1 forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#contenedorBatalla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
        "tituloUno . tituloDos"
        "tarjetaUno resultado tarjetaDos"
        "btnUno . btnDos";
}

.tarjetaUno {
    justify-self: center;
    grid-area: tarjetaUno;
    color: #333333;
    font-family: 'Belanosima', sans-serif;
}

.tituloUno {
    justify-self: center;
    margin-bottom: 1.5rem;
    grid-area: tituloUno;
    color: #333333;
    font-family: 'Belanosima', sans-serif;
}

.btnUno {
    display: flex;
    gap: 2rem;
    justify-self: center;
    align-self: center;
    grid-area: btnUno;
}

.tarjetaDos {
    justify-self: center;
    grid-area: tarjetaDos;
}

.tituloDos {
    justify-self: center;
    margin-bottom: 1.5rem;
    grid-area: tituloDos;
    color: #333333;
    font-family: 'Belanosima', sans-serif;
}

.btnDos {
    display: flex;
    gap: 2rem;
    justify-self: center;
    align-self: center;
    grid-area: btnDos;
}

.resultado {
    justify-self: center;
    grid-area: resultado;
}

.btnAt, .btnAb{
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Belanosima', sans-serif;
  }

  .sweetText{
    font-family: 'Belanosima', sans-serif;
    font-size: 1rem;
    color:#D61C4E;
;
  }


/* --------------- CLASES PARA LAS TARJETAS --------------- */

.contenedorJugadores {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    gap: 2rem;
}

.contenedorTarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;
    gap: 2rem;
    flex-wrap: wrap;
}

.contenedorTarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 200px;
    height: auto;
    box-sizing: content-box;
    font-family: 'Belanosima', sans-serif;
}

.hoverTarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 200px;
    height: auto;
    box-sizing: content-box;
    font-family: 'Belanosima', sans-serif;
}

.hoverTarjeta:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(45, 45, 45, 0.7)
}

.imgTarjeta img {
    width: 200px;
    height: auto;
    vertical-align: middle;
}

.iconoTarjeta {
    padding: 20px 0px;
}

.iconoTarjeta img {
    width: 20px;
    height: 20px;
}

.vidaTarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.vidaTarjeta p {
    position: relative;
    transition: top 0.5s ease, opacity 0.5s ease;
  }
  
  .vidaTarjeta p.animate {
    top: -10px;
    opacity: 0;
  }

.danioTarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.descripcionTarjeta {
    width: 200px;
    height: 20px;
    background-color: #333333;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: content-box;
    text-align: center;
    padding: 15px 0;
}

.descripcionTarjeta p {
    color: #fff;
    font-size: 0.7rem;
    margin: 0 10px;
}

.tituloTarjeta {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #060606;
    width: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px 0;
}

.tituloTarjeta h3 {
    color: #a7a7a7;
    font-size: 1rem;

}

.iconoTarjeta {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 30px;
    background-color: #060606;
}

.vidaTarjeta p {
    color: #B44D57;
}

.danioTarjeta p {
    color: #F4FF8A;
}

.bordeAse {
    border: 5px solid #FA3A24
}

.tituloAse {
    color: #FA3A24;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.bordeMag {
    border: 5px solid #00B0EC;
}

.tituloMag {
    color: #00B0EC;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.bordeGue {
    border: 5px solid #79874A;
}

.tituloGue {
    color: #79874A;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.bordePal {
    border: 5px solid #AC904A;
}

.tituloPal {
    color: #AC904A;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.bordeDrui {
    border: 5px solid #2ca25f;
}

.tituloDrui {
    color: #2ca25f;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.ocultar {
    display: none;
}